.content {
  text-align: left;
  font-weight: 800;
  padding: 40px;
  background-color: #171717;
  box-shadow: 0 -20px 50px rgba(0, 0, 0, 0.4);
}

.content h1 {
  font-weight: 800;
  text-align: left;
}

.content p {
  font-weight: 600;
}

.highlight {
  color: #ef5f10;
  font-weight: 1000;
}

.highlight_blue {
  color: #0c97de;
  font-weight: 1000;
}
