@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #171717;
  color: #f6f6f6;
  font-family: "Lato", serif;
  /* zoom: 0.8; */
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: #000000;
  background: #ef5f10;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #171717;
  z-index: 1000;
  transition: top 0.5s; /* Smooth transition for sliding effect */
  height: 70px;
  filter: drop-shadow(0px 5px 40px rgb(0, 0, 0));
}

.logo {
  float: left;
  height: 40px;
  line-height: 70px;
  padding: 15px;
  margin-left: 100px;
}

.logo:hover {
  content: url("../images/Logo/TaglientGamesLogo.png");
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0 22px;
  height: 100%;
  line-height: 70px;
  color: white;
  font-weight: 900;
  font-size: 17px;
  font-style: normal;
  text-decoration: none;
}

.navigation ul li a:hover {
  background-color: #0c97de;
  color: black;
}
